@charset "UTF-8";

body{
	background-color: #7B68EE;
}

#container{
	width: 90%;
	background-color: #FFFAFA;
	margin: 0 auto;
	padding: 40px 40px;
	font-family: Verdana, Helvetica, Arial;
	border: solid 1px black;
	border-radius: 10px;
}

#faixa{
	width: 90%;
	background-color: #FFFAFA;
	margin: 0 auto;
	padding: 40px 40px;
	font-family: Verdana, Helvetica, Arial;
	text-align: center;
	border: solid 1px black;
	border-radius: 10px;
}