@charset "UTF-8";

body{
	/*background-color: #4169E1;*/
	background-image: url(img/fundo2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#container{
	width: 60%;
	background-color: #FFFAFA;
	margin: 0 auto;
	padding: 40px 40px;
	font-family: Verdana, Helvetica, Arial;
	border: solid 1px black;
	text-align: center;
}

#faixa{
	width: 60%;
	background-color: #FFFAFA;
	margin: 0 auto;
	padding: 40px 40px;
	font-family: Verdana, Helvetica, Arial;
	text-align: center;
	border: solid 1px black;
}

#faixa1{
	width: 60%;
	background-color: #4169E1;
	/*background-image: url(img/listras.png);*/
	margin: 0 auto;
	padding: 5px 40px;
	font-family: Verdana, Helvetica, Arial;
	text-align: center;
	border: solid 1px black;
}

#logo{
	text-align: center;
}

