@charset "UTF-8";

body{
	background-image: url(img/fundo2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

a{
	color: black;
}
#container{
	width: 90%;
	background-color: #FFFAFA;
	margin: 0 auto;
	padding: 40px 40px;
	font-family: Verdana, Helvetica, Arial;
	border: solid 1px black;
	text-align: ;
}

#faixa{
	width: 90%;
	background-color: #FFFAFA;
	margin: 0 auto;
	padding: 40px 40px;
	font-family: Verdana, Helvetica, Arial;
	text-align: center;
	border: solid 1px black;
}

#faixa1{
	width: 90%;
	background-color: #4169E1;
	margin: 0 auto;
	padding: 5px 40px;
	font-family: Verdana, Helvetica, Arial;
	text-align: right;
	border: solid 1px black;
}

#item{
	background: whitesmoke;
	padding: 5px 5px;
	color: white;
	width: 150px;
	height: 20px;
	border: solid black 1px;
	font-weight: bold;
}

#bloco{
	border: solid black 1px;
	height: 530px;
	width: 420px;
	padding: 20px 100px;
	flex-direction: column;
	padding-bottom:30%;
	margin: 0 auto;
	box-sizing: border-box
}

#result{
	text-align: justify;
}

#sair{
	text-align: right;
}
